@import "./standard";
@import "../fonts/stylesheet.css";

//********************************************** Global SCSS ***************************************************

header.header{
  padding: 34px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
  @media screen and (max-width: 991px) {
    padding: 24px 0;
  }
  &.sticky{
    background: #080811 !important;
  }
  .logo-wrapper{
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img.logo{
      max-width: 130px;
      width: 100%;
      object-fit: contain;
    }
    img.hamburger{
      display: none;
      width: 24px;
      height: 24px;
      object-fit: contain;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
  .header-menu{
    text-align: center;
    @media screen and (max-width: 767px) {
      display: none;
      &.active{
        display: block;
        background: #080811;
        position: fixed;
        top: 0;
        width: 100%;
        right: 0;
        left: 0;
        height: 100vh;
        z-index: 99;
      }
    }
    img.close-icon{
      width: 24px;
      height: 24px;
      display: none;
      object-fit: contain;
      position: absolute;
      right: 30px;
      top: 30px;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
    ul.menu{
      @media screen and (max-width: 767px){
      padding: 100px 0 0 0 !important;
      }
      li{
        @media screen and (max-width: 767px){
          display: block;
        }
        &:not(&:last-of-type){
          margin: 0 60px 0 0;
          @media screen and (max-width: 991px) and (min-width: 768px) {
            margin: 0 30px 0 0;
          }
          @media screen and (max-width: 767px){
            margin: 0 0 50px;
          }
        }
      }
    }
  }
  .right-btn{
    text-align: right;
    @media screen and (max-width: 767px) {
      display: none;
    }
    a.dark{
      height:50px;
      font-size: 14px;
      padding: 10px 38px;
    }
  }
}
.footer{
  background: linear-gradient(to bottom right, #0d0e1c, #080811);
  padding: 93px 0 105px;
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
  .footer-content{
    padding: 0 30px 0 0;
    @media screen and (max-width: 767px) {
      padding: 0 0 50px;
    }
    .logo-wrapper{
      a{
        img{
          max-width: 130px;
          width: 100%;
        }
      }
    }
    .text-wrapper{
      margin: 10px 0 30px;
      span{
        color: $text-primary02;
        line-height: 180%;
        font-size: 14px;
      }
    }
    ul.social-icons{
      margin: 0 0 20px !important;
      li{
        &:not(&:last-of-type){
          margin: 0 12px 0 0;
        }
        a{
          background: #1E2131;
          border-radius: 6px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 18px;
            height: 18px;
            object-fit: contain;
          }
        }
      }
    }
    span.copy-right-text{
      color: $text-primary02;
      font-size: 12px;
    }
  }
  .footer-links{
    strong{
      margin: 0 0 20px;
      display: block;
      @media screen and (max-width: 767px) {
        font-size: 14px !important;
      }
    }
    ul.links{
      li{
        display: block;
        a{
          font-size: 15px;
          color: $text-primary01;
          line-height: 340%;
          @media screen and (max-width: 767px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

//********************************************** Main SCSS ***************************************************

.home-banner{
  padding: 230px 0 130px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    padding: 180px 0 100px;
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    padding: 130px 0 60px;
  }
  @media screen and (max-width: 767px) {
    padding: 130px 0 30px;
  }
  .banner-content{
    h1{
      margin: 14px 0 29px;
    }
    p{
      margin: 0 0 0;
      line-height: 180%;
    }
    .banner-btns{
      margin: 35px 0 0 ;
      a{
        &:not(&:last-of-type){
          margin: 0 48px 0 0;
          @media screen and (max-width: 767px) {
            margin: 0 20px 0 0;
          }
        }
        .github-icon{
          width: 42px;
          object-fit: contain;
        }
      }
    }
  }
  .banner-img-wrapper{
    text-align: right;
    .banner-img{
      max-width: 550px;
      width: 100%;
      object-fit: contain;
    }
  }
}
.how-do-use-it{
  .section-header{
    text-align: center;
    p{
      margin: 0 0 0;
      color: $text-primary02;
    }
    h2{
      margin: 3px 0 16px;
    }
  }
  form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 36px;
    margin: 50px 0 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
      margin: 30px 0 0;
    }
    .form-group{
      display: flex;
      align-items: center;
      border: 1px solid #8996b14d;
      border-radius: 14px;
      padding: 14px 39px;
      width: 100%;
      @media screen and (max-width: 767px) {
        padding: 14px 20px;
      }
      background: linear-gradient(to bottom, #080a16, #070810);
      p{
        font-size: 21px;
        font-weight: 500;
        margin: 0 0 0 0;
        line-height: 180%;
        @media screen and (max-width: 767px) {
          font-size: 14px !important;
        }
      }
      input.form-control{
        border: none;
        height: auto;
        outline: none;
        box-shadow: none;
        background: transparent;
        font-size: 21px;
        font-weight: 500;
        color: #8996B1;
        padding: 0 0 0 3px;
         @media screen and (max-width: 991px) and (min-width: 768px) {
           font-size: 16px !important;
           line-height: 26px !important;
  }
          @media screen and (max-width: 767px) {
          font-size: 14px;
        }
        &::placeholder{
          color: #8996B1;
          font-size: 21px;
          font-weight: 500;
           @media screen and (max-width: 991px) and (min-width: 768px) {
             font-size: 16px !important;
             line-height: 26px !important;
  }
            @media screen and (max-width: 767px) {
          font-size: 14px;
        }
        }
      }
      .url{
        display: flex;
        align-items: center;
        gap: 7px;
        img{
          width: 23px;
          height: 23px;
          object-fit: contain;
        }
        p.white{
          color: $white;
          width: 200px !important;
        }
      }
    }
    a.btn-style{
      text-wrap: nowrap;
      border-radius: 14px;
      padding: 21px 30px;
      height: auto;
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        padding: 15px 30px;
      }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        padding: 12px 30px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 12px 30px;
      }
    }
  }
}
.flexible-plan{
  padding: 290px 0 190px;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    padding: 150px 0 130px;
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    padding: 100px 0 ;
  }
  @media screen and (max-width: 767px) {
    padding: 70px 0 30px;
  }
  .section-header{
    text-align: center;
    margin: 0 0 60px;
    @media screen and (max-width: 767px) {
      margin: 0 0 30px;
    }
  }
  .col-md-6{
    @media screen and (max-width: 767px) {
      margin: 0 0 50px;
    }
  }
  .plan-main-wrapper{
    border: 1px solid #26293C;
    border-radius: 12px;
    padding: 45px 52px 75px;
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom right, #0b0c1b, #080811);
    @media screen and (max-width: 1199px) {
      padding: 35px 30px 75px;
    }
    &.popular{
      background: linear-gradient(to bottom right, #151c2f, #05080f);
      span.popular-label{
        display: inline-block;
      }
    }
    p.large.white{
      letter-spacing: 2px;
    }
    span.popular-label{
      border: 3px solid $cyan;
      border-radius: 50px;
      font-size: 11px;
      color: $cyan;
      padding: 6px 18px 3px;
      display: none;
      font-weight: 700;
      letter-spacing: 2px;
      position: absolute;
      left: 78px;
      background: #080912;
      top: -15px;
    }
    h3.large{
      margin: 12px 0 ;
      font-size: 36px;
      line-height: 180%;
      span{
        color: #8A96B1;
      }
    }
    ul.features{
      border-top: 1px dashed #26293C;
      padding: 28px 0 0 0 !important;
      margin: 0 0 94px !important;
      li{
        display: block;
        &:not(&:last-of-type){
          margin: 0 0 13px;
        }
        &.active{
          .list{
            span{
              color: $white;
              display: inline-block;
            }
          }
        }
        .list{
          display: grid;
          grid-template-columns: 12px auto;
          gap: 9px;
          align-items: center;
          img{
            width: 12px;
            object-fit: contain;
          }
          span{
            margin: 0 0 0 0;
            font-size: 15px;
            color: $text-primary01;
            display: inline-block;
          }
        }
      }
    }
    .feature-btn{
      height: auto;
      width: 83%;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 51px 8px;
      position: absolute;
      left: 50%;
      bottom: 33px;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
}
.our-blog{
  .section-heading{
    margin: 0 0 60px;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin: 0 0 30px;
    }
  }
  .col-lg-4.col-md-6{
    @media screen and (max-width: 991px) {
      margin: 0 0 30px;
    }
  }
  .blog-main-wrapper{
    border: 1px solid #26293C;
    padding: 25px;
    border-radius: 18px;
    height: 100%;
    .img-wrapper{
      margin: 0 0 30px;
      img{
        height: 216px;
        width: 100%;
        object-fit: cover;
        border-radius: 14px;
      }
    }
    .content-wrapper{
      ul.list{
        li{
          color: $text-primary02;
          font-size: 13px;
          background: #10131C;
          border-radius: 50px;
          padding: 2px 13px;
          &:not(&:last-of-type){
            margin: 0 10px 0 0;
          }
        }
      }
      h3.large{
        font-size: 28px;
        line-height: 136%;
        margin: 18px 0 22px;
        @media screen and (max-width: 1199px) {
          font-size: 20px;
        }
      }
      .footer-text{
        ul{
          padding: 26px 0 0 !important;
          border-top: 1px dashed #26293C;
          li{
            color: $text-primary02;
            font-size: 14px;
            position: relative;
            &:not(&:last-of-type){
              margin: 0 30px 0 0;
              &:after{
                content: '';
                display: block;
                background: #8A96B1;
                border-radius: 50%;
                width: 3px;
                height: 3px;
                position: absolute;
                right: -16px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}
.faqs{
  padding: 190px 0 190px;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    padding: 130px 0 100px;
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    padding: 100px 0 90px;
  }
  @media screen and (max-width: 767px) {
    padding: 30px 0 40px;
  }
  .content-wrapper{
    @media screen and (max-width: 767px) {
      margin: 0 0 30px;
    }
    h2{
      margin: 17px 0;
    }
    p{
      margin: 0 0 0 0;
      line-height: 180%;
    }
  }
  .accordion{
    padding: 0 0 0 50px ;
    @media screen and (max-width: 991px) {
      padding: 0 0 0 0;
    }
    .accordion-item{
      background: transparent;
      border: none;
      border-radius: 0;
      padding: 40px 10px;
      @media screen and (max-width: 1199px) {
        padding: 20px 10px;
      }
      &:not(&:last-of-type){
        border-bottom: 1px solid #26293C;
      }
      .accordion-header{
        background: transparent;
        background-color: transparent;
        background-image: none !important;
        color: $text-primary01;
        .accordion-button{
          background: transparent;
          color: $text-primary01;
          box-shadow: none;
          -webkit-text-fill-color: $text-primary01;
          font-size: 20px;
          line-height: 180%;
          padding: 0;
          @media screen and (max-width: 991px) and (min-width: 768px) {
            font-size: 16px;
          }
          @media screen and (max-width: 767px) {
            font-size: 15px;
          }
          &.collapsed{
            &:after{
              background-image : url("../images/icons/plus-icon.png");
            }
          }
          &:not(.collapsed){
            &:after{
              background-image : url("../images/icons/minus-icon.png");
            }
          }
        }
      }
      .accordion-collapse{
        .accordion-body{
          padding: 40px 0 0;
          @media screen and (max-width: 1199px) {
            padding: 20px 0 0;
          }
        }
      }
    }
  }
}
